// Global Config

// Font Types

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 200;
$font-weight--medium     : 400;
$font-weight--bold       : 600;
$font-weight--ultra-bold : 800;

// Base Colours

$white  : #fff;
$black  :  #000;

$blue   : #52b2cb;

// Font Colours

// Font Shades

// Font Sizes
$font-size-sm       : .8125rem;
$font-size-md       : 1rem;

// Grid

// Breakpoints

$breakpoint-sm      : 576px;
$breakpoint-md      : 768px;
$breakpoint-lg      : 992px;
$breakpoint-xlg     : 1260px;